version: "3.9"

services:
  app:
    image: ml-gui-app
    build: .
    container_name: ml_gui_app
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./models:/app/models
    restart: unless-stopped
